{#//template email de confirmation#}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase text-center">Confirmation de votre inscription</h2>
                <p class="text-center">Bienvenue !!!</p>
            </div>
        </div>
    </div>
</section>