{% extends 'base.html.twig' %}

{% block title %}New Metier{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto mt-8">
        <h1 class="text-3xl font-bold mb-4">Create New Metier</h1>

        {{ include('metier/_form.html.twig') }}

        <a href="{{ path('app_metier_index') }}" class="block mt-4 text-blue-500 hover:underline">Back to List</a>
    </div>
{% endblock %}
