{% extends 'base.html.twig' %}

{% block title %}New Secteur{% endblock %}

{% block body %}
    <div class="my-form-container">
        <h1 class="my-form-title text-2xl font-bold mb-4">Create new Secteur</h1>

        {{ include('secteur/_form.html.twig') }}

        <a href="{{ path('app_secteur_index') }}" class="btn btn-secondary mt-3">Back to List</a>
    </div>
{% endblock %}
